@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$default-color: rgb(52, 52, 52);
$default-padding: 30px;
$default-hover-color: #0ba6ff;
$hamberger-nav-color: #f5f5f5;
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  font-family: 'Mulish', sans-serif;
  color: $default-color;
}

h3 {
  color: $default-color;
}

@mixin default_section_model {
  border: 3px solid #e0e0e0;
  border-radius: 20px;
  background-color: $hamberger-nav-color;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.overlay {
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}
.burger-menu {
  position: fixed;
  background-color: $default-color;
  height: 100vh;
  z-index: 10;
  width: 0;
  box-sizing: border-box;
  .cancel-btn {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
    svg {
      &:hover {
        fill: #a0a0a0;
      }
    }
  }

  .burger-navigation {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    visibility: hidden;
    scale: 0.8;
    #burger-links {
      display: flex;
      column-gap: 5px;
      a {
        fill: $hamberger-nav-color;
        &:hover {
          fill: $default-hover-color;
        }
      }
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: $hamberger-nav-color;
      font-size: 1.2rem;
      letter-spacing: 1px;
      &:hover {
        color: $default-hover-color;
      }
    }
  }
}
@keyframes cancelBtnAnimation {
  0% {
    width: 70%;
  }
  100% {
    width: 0%;
  }
}
@keyframes animated-menu {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes hamburger-links {
  to {
    visibility: visible;
    scale: 1;
  }
}
header {
  display: flex;
  padding: 10px 70px 10px 40px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: rgba(244, 173, 234, 0.15);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  color: $default-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
  h1 {
    font-size: 1.6rem;
  }
  nav {
    display: flex;
    font-size: 1.1rem;
    gap: 25px;
    a {
      text-decoration: none;
      color: $default-color;
      font-weight: 600;
      transition: 0.4s linear;
      &:hover {
        color: $default-hover-color;
      }
    }
  }
  div {
    display: none;
  }
}
section {
  padding: 0 20%;
}
#main-section {
  background: linear-gradient(-45deg, #e6b8aa, #ecbfd0, #a1dbf0, #9df0dc);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#main-title {
  padding: $default-padding;
  h2 {
    font-size: 3.2rem;
    margin: 0 0 10px 0;
    color: $default-color;
    line-height: 60px;
  }
  p {
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 0.7;
  }
}

#main-article {
  @include default_section_model();
  margin: 15% 0 10% 0;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  column-gap: 5%;
  animation: main-content 4s ease-out infinite;
  box-sizing: border-box;
}
@keyframes main-content {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-3%);
  }
}
#tech-stack {
  @include default_section_model();
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3%;
  padding: 15px 30px;
  p {
    display: flex;
    padding: 0 20px;
    min-width: 80px;
    border-right: 2px solid;
  }
  div {
    display: flex;
    column-gap: 10px;
    padding: 10px 15px;
    img {
      transition: 0.4s linear;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}

#profile-image {
  padding: $default-padding;
  img {
    border-radius: 90% 23% 66% 44%;
    animation: border-profile-image 10s ease-in-out infinite;
    border: 4px solid $default-color;
    max-width: 300px;
    max-height: 300px;
  }
}
@keyframes border-profile-image {
  0% {
    border-radius: 90% 23% 66% 44%;
  }
  25% {
    border-radius: 40% 74% 38% 89%;
  }
  50% {
    border-radius: 60% 36% 80% 40%;
  }
  75% {
    border-radius: 70% 39% 70% 38%;
  }
}
#links {
  display: flex;
  column-gap: 8px;
  a {
    transition: 0.4s linear;
    opacity: 0.7;
    &:hover {
      fill: $default-hover-color;
    }
  }
}
.all-sections {
  padding-top: 5%;
  padding-bottom: 5%;
}
h2 {
  color: $default-hover-color;
}
#about article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  img {
    max-width: 500px;
  }
  div {
    font-size: 1.03rem;
    margin: 0;
    padding: 10px;
    max-width: 400px;
    h3 {
      font-size: 1.5rem;
    }
  }
}
#projects {
  background-color: #f1f1f1d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    display: flex;
    width: 100%;
    align-items: start;
  }
}
#list-of-projects {
  padding: 5% 100px;
  display: flex;
  flex-direction: column;
  max-width: 950px;
  gap: 50px;
  box-sizing: border-box;
}
.project-articles {
  @include default_section_model();
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
  transition: 0.3s linear;
  &:hover {
    scale: 1.02;
  }
  p,
  h3 {
    margin-top: 0;
  }
  a {
    margin-top: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    color: $default-color;
    font-weight: 500;
    transition: 0.4s linear;
    &:hover {
      color: $default-hover-color;
    }
  }
  img {
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    max-height: 200px;
  }
}
.article-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects-even {
  margin-left: 50px;
}
.projects-odd {
  margin-right: 50px;
}
#contact > p {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 40px;
}
#contact-link {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  article {
    display: flex;
    align-items: center;
    gap: 30px;
    a {
      text-decoration: none;
    }
  }
}
.contact-image {
  animation: contact-icons 3.5s ease-in-out infinite;
}

@keyframes contact-icons {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
}

.contact-title {
  margin: 0 0 5px 0;
  font-weight: 600;
}
footer {
  background-color: $default-color;
  display: flex;
  justify-content: space-between;
  padding: 0px 20% 50px 20%;
  align-items: center;
  border: 1px solid $default-color;
  p {
    color: white;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
  }
  div a {
    fill: white;
    opacity: 0.7;
    transition: 0.4s linear;
    &:hover {
      opacity: 1;
    }
  }
}
.wave {
  display: block;
  margin-bottom: -1px;
}
.path-1 {
  animation: pathAnim-1 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.path-0 {
  animation: pathAnim-0 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      'M 0,600 L 0,150 C 114.00956937799043,124.09569377990431 228.01913875598086,98.19138755980862 322,119 C 415.98086124401914,139.80861244019138 489.9330143540669,207.33014354066987 583,221 C 676.0669856459331,234.66985645933013 788.2488038277512,194.48803827751198 898,169 C 1007.7511961722488,143.51196172248802 1115.071770334928,132.71770334928232 1205,132 C 1294.928229665072,131.28229665071768 1367.4641148325359,140.64114832535884 1440,150 L 1440,600 L 0,600 Z'
    );
  }
  25% {
    d: path(
      'M 0,600 L 0,150 C 105.04306220095694,157.80861244019138 210.08612440191388,165.6172248803828 315,152 C 419.9138755980861,138.3827751196172 524.6985645933014,103.33971291866028 628,110 C 731.3014354066986,116.66028708133972 833.1196172248805,165.02392344497608 910,175 C 986.8803827751195,184.97607655502392 1038.822966507177,156.5645933014354 1123,146 C 1207.177033492823,135.4354066985646 1323.5885167464116,142.71770334928232 1440,150 L 1440,600 L 0,600 Z'
    );
  }
  50% {
    d: path(
      'M 0,600 L 0,150 C 117.82775119617222,141.68421052631578 235.65550239234443,133.3684210526316 317,141 C 398.34449760765557,148.6315789473684 443.2057416267943,172.21052631578948 530,158 C 616.7942583732057,143.78947368421052 745.5215311004782,91.78947368421055 847,84 C 948.4784688995218,76.21052631578945 1022.708133971292,112.63157894736841 1117,131 C 1211.291866028708,149.3684210526316 1325.645933014354,149.68421052631578 1440,150 L 1440,600 L 0,600 Z'
    );
  }
  75% {
    d: path(
      'M 0,600 L 0,150 C 118.68899521531102,189.51196172248802 237.37799043062205,229.02392344497608 328,219 C 418.62200956937795,208.97607655502392 481.17703349282294,149.41626794258372 583,126 C 684.8229665071771,102.58373205741627 825.9138755980861,115.31100478468898 910,140 C 994.0861244019139,164.68899521531102 1021.1674641148325,201.3397129186603 1100,205 C 1178.8325358851675,208.6602870813397 1309.4162679425838,179.33014354066984 1440,150 L 1440,600 L 0,600 Z'
    );
  }
  100% {
    d: path(
      'M 0,600 L 0,150 C 114.00956937799043,124.09569377990431 228.01913875598086,98.19138755980862 322,119 C 415.98086124401914,139.80861244019138 489.9330143540669,207.33014354066987 583,221 C 676.0669856459331,234.66985645933013 788.2488038277512,194.48803827751198 898,169 C 1007.7511961722488,143.51196172248802 1115.071770334928,132.71770334928232 1205,132 C 1294.928229665072,131.28229665071768 1367.4641148325359,140.64114832535884 1440,150 L 1440,600 L 0,600 Z'
    );
  }
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      'M 0,600 L 0,350 C 98.16267942583733,388.57416267942585 196.32535885167465,427.14832535885165 279,403 C 361.67464114832535,378.85167464114835 428.8612440191388,291.98086124401914 535,295 C 641.1387559808612,298.01913875598086 786.2296650717706,390.9282296650718 886,402 C 985.7703349282294,413.0717703349282 1040.2200956937797,342.3062200956938 1125,320 C 1209.7799043062203,297.6937799043062 1324.8899521531102,323.8468899521531 1440,350 L 1440,600 L 0,600 Z'
    );
  }
  25% {
    d: path(
      'M 0,600 L 0,350 C 94.1531100478469,333.02392344497605 188.3062200956938,316.04784688995215 300,313 C 411.6937799043062,309.95215311004785 540.9282296650717,320.83253588516743 629,317 C 717.0717703349283,313.16746411483257 763.9808612440194,294.622009569378 836,289 C 908.0191387559806,283.377990430622 1005.1483253588515,290.6794258373206 1110,303 C 1214.8516746411485,315.3205741626794 1327.4258373205744,332.6602870813397 1440,350 L 1440,600 L 0,600 Z'
    );
  }
  50% {
    d: path(
      'M 0,600 L 0,350 C 111.11004784688996,373.2535885167464 222.2200956937799,396.50717703349284 332,401 C 441.7799043062201,405.49282296650716 550.2296650717703,391.22488038277515 627,358 C 703.7703349282297,324.77511961722485 748.8612440191388,272.59330143540666 846,283 C 943.1387559808612,293.40669856459334 1092.3253588516745,366.4019138755981 1200,388 C 1307.6746411483255,409.5980861244019 1373.8373205741627,379.79904306220095 1440,350 L 1440,600 L 0,600 Z'
    );
  }
  75% {
    d: path(
      'M 0,600 L 0,350 C 74.86124401913872,344.88038277511964 149.72248803827745,339.7607655502392 261,345 C 372.27751196172255,350.2392344497608 519.9712918660288,365.83732057416273 627,350 C 734.0287081339712,334.16267942583727 800.3923444976076,286.88995215311 875,282 C 949.6076555023924,277.11004784689 1032.4593301435407,314.60287081339715 1128,333 C 1223.5406698564593,351.39712918660285 1331.7703349282297,350.6985645933014 1440,350 L 1440,600 L 0,600 Z'
    );
  }
  100% {
    d: path(
      'M 0,600 L 0,350 C 98.16267942583733,388.57416267942585 196.32535885167465,427.14832535885165 279,403 C 361.67464114832535,378.85167464114835 428.8612440191388,291.98086124401914 535,295 C 641.1387559808612,298.01913875598086 786.2296650717706,390.9282296650718 886,402 C 985.7703349282294,413.0717703349282 1040.2200956937797,342.3062200956938 1125,320 C 1209.7799043062203,297.6937799043062 1324.8899521531102,323.8468899521531 1440,350 L 1440,600 L 0,600 Z'
    );
  }
}
@media (min-width: 2600px) {
  body {
    padding: 0 20%;
  }
  header {
    width: 60%;
  }
}
@media (max-width: 2000px) {
  #main-article,
  #tech-stack {
    scale: 0.9;
  }
}
@media (max-width: 1450px) {
  #about article {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
  }
  #profile-image {
    padding-right: 0;
    padding-left: 0;
    margin-right: 30px;
  }
  .all-sections {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (max-width: 1180px) {
  #main-article {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    row-gap: 20px;
  }
  #main-section {
    height: auto;
  }
  #main-title {
    text-align: center;
    padding: 0;
  }
  #links {
    justify-content: center;
  }
  #profile-image {
    display: grid;
    order: -1;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #tech-stack {
    flex-wrap: wrap;
    border-right: none;
    p {
      border-right: none;
    }
  }
  #list-of-projects {
    padding: 5% 0;
  }
  .projects-even {
    margin-left: 0;
  }
  .projects-odd {
    margin-right: 0;
  }

  .projects-odd,
  .projects-even {
    width: 100%;
    text-align: center;
  }
  .project-articles {
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    img {
      order: -1;
      margin-bottom: 20px;
    }
    div a {
      padding-left: 20px;
    }
  }
  #about h2 {
    margin-bottom: 60px;
  }
}
@media (max-width: 900px) {
  #main-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 800px) {
  header {
    padding: 10px 30px 10px 30px;

    nav {
      display: none;
    }
    div {
      display: block;
      scale: 0.7;
      fill: $default-color;
      cursor: pointer;
      transition: 0.4s linear;

      &:hover {
        fill: $default-hover-color;
      }
    }
  }
  section {
    padding: 0 10%;
  }

  #contact-link {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  footer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    p {
      text-align: center;
    }
  }
  #about article img {
    width: 100%;
  }
}
@media (max-width: 630px) {
  #main-section {
    padding-top: 10%;
  }
  #tech-stack {
    padding: 20px 0;
    max-width: 200px;
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  #contact {
    p {
      margin-top: 0;
      text-align: center;
    }
    &-link {
      padding-left: 20%;
      article {
        width: 100%;
      }
    }
  }
  .contact-details {
    padding-left: 6%;
  }
}
@media (max-width: 450px) {
  section {
    padding: 0;
  }
  .all-sections {
    padding-left: 30px;
    padding-right: 30px;
  }

  header {
    h1 {
      font-size: 1.3rem;
    }
    div {
      scale: 0.6;
    }
  }
  #list-of-projects,
  #list-of-projects img,
  .project-articles img,
  #main-article,
  #profile-image img {
    width: 100%;
  }
  #main-section {
    height: auto;
    padding: 60px 10px 30px 10px;
  }
  #main-article {
    box-sizing: border-box;
    grid-template-columns: 100%;
    padding: 20px 30px;
    margin-bottom: 0;
  }
  #main-title {
    padding: 0;
    text-align: center;
    h2 {
      font-size: 2.3rem;
      line-height: 50px;
    }
  }
  #about {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    h2 {
      z-index: 2;
      margin-bottom: 0;
    }
    article {
      grid-template-rows: 40% 60%;
      div {
        font-size: 0.9rem;
        text-align: center;
      }
    }
  }

  .project-articles div {
    text-align: center;
  }
}
@media (max-width: 400px) {
  #contact-link {
    padding-left: 10%;
  }
}
