@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: "Mulish", sans-serif;
  color: rgb(52, 52, 52);
}

h3 {
  color: rgb(52, 52, 52);
}

.overlay {
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.burger-menu {
  position: fixed;
  background-color: rgb(52, 52, 52);
  height: 100vh;
  z-index: 10;
  width: 0;
  box-sizing: border-box;
}
.burger-menu .cancel-btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  cursor: pointer;
}
.burger-menu .cancel-btn svg:hover {
  fill: #a0a0a0;
}
.burger-menu .burger-navigation {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  visibility: hidden;
  scale: 0.8;
}
.burger-menu .burger-navigation #burger-links {
  display: flex;
  -moz-column-gap: 5px;
  column-gap: 5px;
}
.burger-menu .burger-navigation #burger-links a {
  fill: #f5f5f5;
}
.burger-menu .burger-navigation #burger-links a:hover {
  fill: #0ba6ff;
}
.burger-menu .burger-navigation a {
  cursor: pointer;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.burger-menu .burger-navigation a:hover {
  color: #0ba6ff;
}
@keyframes cancelBtnAnimation {
  0% {
    width: 70%;
  }
  100% {
    width: 0%;
  }
}
@keyframes animatedMenu {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes hamburgerLinks {
  to {
    visibility: visible;
    scale: 1;
  }
}
#scroll-marker {
  position: absolute;
  top: 100px;
}

.header-scroll {
  background: rgba(244, 173, 234, 0.15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
  position: fixed;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
  padding: 10px 70px 10px 40px;
  display: flex;
  justify-content: space-between;
  color: rgb(52, 52, 52);
  animation: moveDownBox 1s ease-out 0.7s backwards;
}
header h1 {
  font-size: 1.5rem;
}
header nav {
  display: flex;
  font-size: 1.1rem;
  gap: 25px;
}
header nav a {
  text-decoration: none;
  color: rgb(52, 52, 52);
  font-weight: 600;
  transition: 0.4s linear;
}
header nav a:hover {
  color: #0ba6ff;
}
header div {
  display: none;
}
@keyframes moveDownBox {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
section {
  padding: 0 20%;
}

#main-section {
  padding-bottom: 10%;
  background-color: #92c7cf;
  background-image: radial-gradient(at 20% 25%, #fbf9f1 0px, transparent 50%), radial-gradient(at 89% 95%, #e5e1da 0px, transparent 50%);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#main-title {
  padding: 30px;
}
#main-title h2 {
  font-size: 3.2rem;
  margin: 0 0 10px 0;
  color: rgb(52, 52, 52);
  line-height: 60px;
}
#main-title p {
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.7;
}

#main-article {
  border: 3px solid #e0e0e0;
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 15% 0 5% 0;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 5%;
  column-gap: 5%;
  animation: mainContent 4s ease-out infinite;
  box-sizing: border-box;
}
@keyframes mainContent {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-3%);
  }
}
#tech-stack {
  border: 3px solid #e0e0e0;
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 3%;
  column-gap: 3%;
  padding: 15px 30px;
  animation: moveUpBox 1s ease-out 0.7s backwards;
}
#tech-stack p {
  display: flex;
  padding: 0 20px;
  min-width: 80px;
  border-right: 2px solid;
}
#tech-stack div {
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: 10px 15px;
}
#tech-stack div img {
  transition: 0.4s linear;
}
#tech-stack div img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@keyframes moveUpBox {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
#profile-image {
  padding: 30px;
}
#profile-image img {
  border-radius: 90% 23% 66% 44%;
  animation: borderProfileImage 10s ease-in-out infinite;
  max-width: 300px;
  max-height: 300px;
}
@keyframes borderProfileImage {
  0% {
    border-radius: 90% 23% 66% 44%;
  }
  25% {
    border-radius: 40% 74% 38% 89%;
  }
  50% {
    border-radius: 60% 36% 80% 40%;
  }
  75% {
    border-radius: 70% 39% 70% 38%;
  }
}
#links {
  display: flex;
  -moz-column-gap: 8px;
  column-gap: 8px;
}
#links a {
  transition: 0.4s linear;
  opacity: 0.7;
}
#links a:hover {
  fill: #0ba6ff;
}

.all-sections {
  padding-top: 5%;
  padding-bottom: 5%;
}

h2 {
  color: #0ba6ff;
}

.about-me-title,
.about-me-text,
.project-articles,
.contact-animation-title,
.contact-animation-details {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(5rem);
  transition: 0.4s ease;
}

.contact-animation-details {
  transition-delay: 0.1s;
}

.about-me-text {
  transition-delay: 0.1s;
}

.about-title,
.about-text,
.projects-left,
.contact-move-up {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

#about article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}
#about article img {
  max-width: 500px;
}
#about article div {
  font-size: 1.03rem;
  margin: 0;
  padding: 10px;
  max-width: 400px;
}
#about article div h3 {
  font-size: 1.5rem;
}

#projects {
  -webkit-clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);
  background-color: rgba(241, 241, 241, 0.8431372549);
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects h2 {
  display: flex;
  width: 100%;
  align-items: start;
}

#list-of-projects {
  padding: 5% 100px;
  display: flex;
  flex-direction: column;
  max-width: 950px;
  gap: 50px;
  box-sizing: border-box;
}

.project-articles {
  border: 3px solid #e0e0e0;
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
  transition: 0.3s linear;
}
.project-articles:hover {
  scale: 1.02;
}
.project-articles p,
.project-articles h3 {
  margin-top: 0;
}
.project-articles a {
  margin-top: 10px;
  text-decoration: none;
  letter-spacing: 2px;
  color: rgb(52, 52, 52);
  font-weight: 500;
  transition: 0.4s linear;
}
.project-articles a:hover {
  color: #0ba6ff;
}
.project-articles .img-section {
  position: relative;
  cursor: pointer;
}
.project-articles .img-section img {
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  max-height: 200px;
  transition: all 0.5s;
}
.project-articles .img-section .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.5s;
}
.project-articles .img-section:hover img {
  transform: scale(0.9);
  filter: blur(2.5px) brightness(80%);
}
.project-articles .img-section:hover .caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.article-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-even {
  margin-left: 50px;
}

.projects-odd {
  margin-right: 50px;
}

#contact > p {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 40px;
}

#contact-link {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 60px;
  column-gap: 60px;
}
#contact-link article {
  display: flex;
  align-items: center;
  gap: 30px;
}
#contact-link article a {
  text-decoration: none;
}

.contact-image {
  animation: contactIcons 3.5s ease-in-out infinite;
}
@keyframes contactIcons {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
}
.contact-title {
  margin: 0 0 5px 0;
  font-weight: 600;
}

.contact-city {
  margin: 0;
}

footer {
  background-color: rgb(52, 52, 52);
  display: flex;
  justify-content: space-between;
  padding: 20px 20% 50px 20%;
  align-items: center;
  border: 1px solid rgb(52, 52, 52);
}
footer p {
  color: white;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}
footer div a {
  fill: white;
  opacity: 0.7;
  transition: 0.4s linear;
}
footer div a:hover {
  opacity: 1;
}

.waveContainer {
  height: 100%;
  width: 100%;
}
.waveContainer #wave {
  width: auto;
}
.waveContainer svg {
  display: block;
  margin-bottom: -20px;
}

@media (min-width: 2600px) {
  body {
    padding: 0 20%;
  }
  header {
    width: 60%;
  }
}
@media (max-width: 2000px) {
  #main-article,
  #tech-stack {
    scale: 0.9;
  }
}
@media (max-width: 1450px) {
  section {
    padding: 0 15%;
  }
  #projects {
    padding-top: 150px;
  }
  #about article {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    text-align: center;
  }
  #profile-image {
    padding-right: 0;
    padding-left: 0;
    margin-right: 30px;
  }
  .all-sections {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (max-width: 1180px) {
  section {
    padding: 0 20%;
  }
  #main-article {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    row-gap: 20px;
  }
  #main-section {
    height: auto;
  }
  #main-title {
    text-align: center;
    padding: 0;
  }
  #links {
    justify-content: center;
  }
  #profile-image {
    display: grid;
    order: -1;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #tech-stack {
    flex-wrap: wrap;
    border-right: none;
  }
  #tech-stack p {
    border-right: none;
  }
  #list-of-projects {
    padding: 5% 0;
  }
  .projects-even {
    margin-left: 0;
  }
  .projects-odd {
    margin-right: 0;
  }
  .projects-odd,
  .projects-even {
    width: 100%;
    text-align: center;
  }
  .project-articles {
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
  }
  .project-articles .img-section {
    order: -1;
    margin-bottom: 20px;
  }
  .project-articles .article-centering > a {
    padding-left: 20px;
  }
  #about h2 {
    margin-bottom: 60px;
  }
}
@media (max-width: 900px) {
  #main-section {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}
@media (max-width: 800px) {
  header {
    padding: 10px 30px 10px 30px;
  }
  header nav {
    display: none;
  }
  header div {
    display: block;
    scale: 0.7;
    fill: rgb(52, 52, 52);
    cursor: pointer;
    transition: 0.4s linear;
  }
  header div:hover {
    fill: #0ba6ff;
  }
  section {
    padding: 0 10%;
  }
  #contact-link {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  footer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  footer p {
    text-align: center;
  }
  #about article img {
    width: 100%;
  }
}
@media (max-width: 630px) {
  #main-section {
    padding-top: 10%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);
  }
  #projects {
    -webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
  }
  #tech-stack {
    padding: 20px 0;
    max-width: 200px;
  }
  #tech-stack div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  #contact p {
    margin-top: 0;
    text-align: center;
  }
  #contact-link {
    padding-left: 20%;
  }
  #contact-link article {
    width: 100%;
  }
  .contact-details {
    padding-left: 6%;
  }
}
@media (max-width: 450px) {
  section {
    padding: 0;
  }
  .all-sections {
    padding-left: 30px;
    padding-right: 30px;
  }
  header h1 {
    font-size: 1.3rem;
  }
  header div {
    scale: 0.6;
  }
  #list-of-projects,
  #list-of-projects img,
  .project-articles img,
  #main-article,
  #profile-image img {
    width: 100%;
  }
  #main-section {
    height: auto;
    padding: 60px 10px 60px 10px;
  }
  #main-article {
    box-sizing: border-box;
    grid-template-columns: 100%;
    padding: 20px 30px;
    margin-bottom: 0;
  }
  #main-title {
    padding: 0;
    text-align: center;
  }
  #main-title h2 {
    font-size: 2.3rem;
    line-height: 50px;
  }
  #about {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  #about h2 {
    z-index: 2;
    margin-bottom: 0;
  }
  #about article {
    grid-template-rows: 40% 60%;
  }
  #about article div {
    font-size: 0.9rem;
    text-align: center;
  }
  .project-articles div {
    text-align: center;
  }
}
@media (max-width: 400px) {
  #contact-link {
    padding-left: 10%;
  }
}/*# sourceMappingURL=style.css.map */